@media (max-width: 768px) {
    .button {
      font-size:11px;
      padding:4px 6px;
    }
  }

  @media (min-width: 768px) {
    .button {
      font-size:12px;
      padding:6px 12px;
    }
  }

  @media (min-width: 992px) {
    .button {
      font-size:14px;
      padding:8px 12px;
    }
  }

  @media (min-width: 1200px) {
    .button {
      padding:10px 16px;
      font-size:18px;
    }
  }


body {
    background-color: #232323;
    font-family: "Montserrat";
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
}


h2{
    background: yellow;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-decoration-color: teal;
    font-weight: 700;
}
/* .container{
    display: flex;
} */

 #container{
    margin: 20px auto;
    max-width: 600px;
}
h2 span{
    background-color: rgb(163, 24, 197);
}

h1{  
    text-align: center;
    line-height: 1.1;
    padding-top: 20px;
    padding-bottom: 0px;
    color:white;
    background-color: steelblue;
    margin: 0px;
    font-weight: normal;
    text-transform: uppercase;
}

 #PARA{
   display: flex;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color:black;
   /* max-width: 900px; */
   } 

span{
    color: white;
}

#stripe{
    background-color: white;
    height: 30px;
    border-width: 20px; 
    text-align: center;
    color: black
    
}

.selected{
    color: white;
    background: steelblue;
}

#message{
    background-color: black;
    display: inline-block;
    
}
.btn-lg {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:30%;   
    }
#colorDisplay{
    font-size: 200%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover{
    color: white;
    background: steelblue;
}